.blueForeground {
  color: blue;
}

.blueBackground {
  background: blue;
}

.redForeground {
  color: red;
}

.redBackground {
  background: red;
}

@media (max-width: 240px) {
  .responsiveViolet {
    background: violet;
  }
}
